<mapper namespace="com.example.pojo.dao.UserDao">
    <select id="findAll" resultType="com.example.pojo.User">
        select * from user
    </select>

    <select id="findByCondition" resultType="com.example.pojo.User" paramterType="com.example.pojo.User">
        select * from user where username=#{username} and id=#{id}
    </select>
</mapper>